* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4157;
}

.digits-container {
    display: flex;
    gap: 50px;
}

.digit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.block {
    width: 40px;
    height: 40px;
    background-color: #577C8E;
    border-radius: 5px;
}

/* Цифра 9 */
.digit-9 .row-1 .block:nth-child(2),
.digit-9 .row-1 .block:nth-child(3),
.digit-9 .row-2 .block:first-child,
.digit-9 .row-2 .block:last-child,
.digit-9 .row-3 .block:nth-child(2),
.digit-9 .row-3 .block:nth-child(3),
.digit-9 .row-4 .block:last-child,
.digit-9 .row-5 .block:nth-child(2),
.digit-9 .row-5 .block:nth-child(3) {
    background-color: #577C8E;
}

.digit-9 .row-1 .block:first-child,
.digit-9 .row-1 .block:last-child,
.digit-9 .row-2 .block:nth-child(2),
.digit-9 .row-2 .block:nth-child(3),
.digit-9 .row-3 .block:first-child,
.digit-9 .row-3 .block:last-child,
.digit-9 .row-4 .block:first-child,
.digit-9 .row-4 .block:nth-child(2),
.digit-9 .row-4 .block:nth-child(3),
.digit-9 .row-5 .block:first-child,
.digit-9 .row-5 .block:last-child {
    background-color: transparent;
}

/* Цифра 2 */
.digit-2 .row-1 .block:nth-child(2),
.digit-2 .row-1 .block:nth-child(3),
.digit-2 .row-2 .block:last-child,
.digit-2 .row-3 .block:nth-child(2),
.digit-2 .row-3 .block:nth-child(3),
.digit-2 .row-4 .block:first-child,
.digit-2 .row-5 .block:nth-child(2),
.digit-2 .row-5 .block:nth-child(3) {
    background-color: #577C8E;
}

.digit-2 .row-1 .block:first-child,
.digit-2 .row-1 .block:last-child,
.digit-2 .row-2 .block:first-child,
.digit-2 .row-2 .block:nth-child(2),
.digit-2 .row-3 .block:first-child,
.digit-2 .row-3 .block:last-child,
.digit-2 .row-4 .block:nth-child(2),
.digit-2 .row-4 .block:nth-child(3),
.digit-2 .row-4 .block:last-child,
.digit-2 .row-5 .block:first-child,
.digit-2 .row-5 .block:last-child {
    background-color: transparent;
}

@media (max-width: 767px) {
    .digits-container {
        gap: 30px;
    }
    
    .block {
        width: 30px;
        height: 30px;
    }
}